name: Upload Python Package to PyPI

on:
  release:
    types:
      - published

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.python }} - ${{matrix.os}}
    runs-on: ${{matrix.os}}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        python: ["cp311"]

    steps:
      - uses: actions/checkout@v4
      - name: Build Wheels
        uses: pypa/cibuildwheel@v3.1.3
      - uses: actions/upload-artifact@v4
        with:
          path: ./wheelhouse/*.whl

  build_sdist:        
    name: Build Source Distribution
    runs-on: ubuntu-latest
    steps: 
      - uses: actions/checkout@v4
      - name: Build sdist
        run: pipx run build --sdist
      - uses: actions/upload-artifact@v4
        with:
          name: dist-${{ matrix.python }} - ${{matrix.os}}
          path: dist/*.tar.gz  

  upload_pypi:
    needs: [build_sdist, build_wheels]
    runs-on: ubuntu-latest
    environment: pypi
    permissions: 
      id-token: write
    if: github.event_name == 'release' && github.event.action == 'published'  
    steps:
      - uses: actions/download-artifact@v4.1.7
        with:
          name: artifact
          path: dist
      - uses: pypa/gh-action-pypi-publish@release/v1      
        with:
          user: __token__
          password: ${{ secrets.PYPI_API_JPMC_OSS }}
