name: Upload Python Package to PyPI Test

on:
  workflow_dispatch:
  pull_request:
  

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.python }} - ${{matrix.os}}
    runs-on: ${{matrix.os}}
    strategy:
      matrix:
        os: [ubuntu-latest]
        python: ["cp310"]

    steps:
      - uses: actions/checkout@v4
      - name: Build Wheels
        uses: pypa/cibuildwheel@v2.22.0
      - uses: actions/upload-artifact@v4
        with:
          path: ./wheelhouse/*.whl

  build_sdist:        
    name: Build Source Distribution
    runs-on: ubuntu-latest
    steps: 
      - uses: actions/checkout@v4
      - name: Build sdist
        run: pipx run build --sdist
      - uses: actions/upload-artifact@v4
        with:
          name: dist-${{ matrix.python }} - ${{matrix.os}}
          path: dist/*.tar.gz  

  upload_pypi:
    needs: [build_sdist, build_wheels]
    runs-on: ubuntu-latest
    environment: pypi
    permissions: 
      id-token: write
    steps:
      - uses: actions/download-artifact@v4.1.7
        with:
          name: artifact
          path: dist

      - uses: pypa/gh-action-pypi-publish@release/v1      
        with:
          user: __token__
          password: ${{ secrets.PYPI_TEST_API_JPMC_OSS }}
          repository-url: https://test.pypi.org/legacy/
          skip-existing: true
